.head1{
    color: red;
}
.head2{
    color: orange;
}
p{
    color: maroon;
}
.maroon{
    color: maroon;
}
.space{
    letter-spacing: 4px;
}
.highlight{
    background-color: yellow;
    font-weight: 700;
    
}
.no-link{
    text-decoration: none;
}